{{> navBar/logoWithSideNav }}
<section class="slide whiteSlide portfolio">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <ul class="flex verticalCenter">
          <li class= "col-12-12"><h1> Artist Series</h1></li>
          {{#each @root.artists.portfolioImages}}

            <li class="col-2-12"><div class="zoom"><a href="artist-series-feature.html#{{ this.src }}"><img src="/assets/artist/{{ this.src }}.png"  alt=''/></a></div></li>

          {{/each}}
        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>