<section class="slide whiteSlide barrio">
  {{> navBar/logoWithSideNav }}
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <ul class="flex verticalCenter">
          <li class= "col-12-12"><h1> Barrio Series</h1>

          <li class="col-2-12"><img src='http://loremflickr.com/g/300/400/barrio' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/400/300/cholo' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/300/350/lowrider' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/450/400/elpaso' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/400/350/vato' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/300/400/churros' alt=''/></li>

           <li class="col-2-12"><img src='http://loremflickr.com/g/300/400/barrio' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/400/300/cholo' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/300/350/lowrider' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/450/400/elpaso' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/400/350/vato' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/300/400/churros' alt=''/></li>

        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>