{{> navBar/logoWithSideNav }}
<section class="slide whiteSlide barrio">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <ul class="flex verticalCenter">
          <li class= "col-12-12"><h1> Barrio Series</h1></li>
          {{#each @root.barrios.portfolioImages}}

            <li class="col-2-12"><div class="zoom"><a href="barrio-series-feature.html#{{ this.src }}"><img src="/assets/barrio/{{ this.src }}.png"  alt=''/></a></div></li>

          {{/each}}
        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
