<section class="slide whiteSlide barrio">
  {{> navBar/fullNav }}
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <ul class="flex verticalCenter">
          <li class= "col-12-12"><h1> Barrio Series</h1>

          <li class="col-2-12 popupTrigger" data-popup-id="img1"><img src='/assets/img/tirandoTiempoSQ.jpg' alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img2"><img src='/assets/img/ProscritaCrop.jpg' alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id=""><img src='http://loremflickr.com/g/300/400/barrio' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/450/400/elpaso' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/400/350/vato' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/300/400/churros' alt=''/></li>

           <li class="col-2-12"><img src='http://loremflickr.com/g/300/400/barrio' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/400/300/cholo' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/300/350/lowrider' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/450/400/elpaso' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/400/350/vato' alt=''/></li>
          <li class="col-2-12"><img src='http://loremflickr.com/g/300/400/churros' alt=''/></li>

        </ul>

        {{!--popup img1--}}
        <section class="popup" data-popup-id="img1">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src="/assets/img/tirandoTiempo.jpg" class="" alt=""/>
                  {{!--<span class="button actionButton"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>

                  <span class="button actionButton popupTrigger" data-popup-id="img2"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>--}}
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.img1.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.img1.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img2--}}
        <section class="popup" data-popup-id="img2">
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                <div class="fix-7-12">
                  <img src="/assets/img/Proscrita.jpg" class="wide" alt=""/>

                  {{!--<span class="button actionButton popupTrigger" data-popup-id="img1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>

                  <span class="button actionButton"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>--}}
                </div>

                <div class="fix-8-12">
                  <h1 class="ae-5 fronLeft">Red title</h1>
                  <div class="ae-6 fromrRight">
                    <p>maybe image description 2</p>
                    <a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

        {{!--popup Contact Form--}}
        <div class="popup animated" data-popup-id="contact">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap spaces">
              
                <h1 class="ae-1">gaspar enríquez - Barrio Series</h1>
                <div class="ae-2"><p>All print are giclee (zhee-klay), and are generated from high resolution digital scans and printed with archival quality inks. </p></div>
                <div class="fix-5-12 margin-top-6">
                  <div class="pad shadow selected ae-3 popupContent">
                    <form action="ajax-email.php" method="post" class="wide center" data-ajax-form="true">
                      <div class="label ae-4 cropTop"><label class="cropTop opacity-5" for="name55">Your name</label></div>
                      <input class="stroke ae-5 wide" id="name55" type="name" name="name" placeholder="Name" required/>
                      <div class="label ae-6"><label class="opacity-5" for="email55">Email address</label></div>
                      <input class="stroke ae-7 wide" id="email55" type="email" name="email" placeholder="Email" required/>
                      <div class="label ae-8"><label class="opacity-5" for="message55">Message</label></div>
                      <textarea class="left ae-9" id="message55" type="text" name="message" placeholder="Message" required></textarea>
                      <input class="button wide pink ae-10 margin-top-2 cropBottom" type="submit" name="submit" value="Send message" data-success-text="Done!" data-success-class="green"/>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>