<section class="slide whiteSlide portfolio">
  {{> navBar/logoWithSideNav }}
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <ul class="flex verticalCenter">
          <li class= "col-12-12"><h1> Portfolio (Series)</h1>

          <li class="col-4-12"><img src='http://loremflickr.com/g/300/400/latina' alt=''/></li>
          <li class="col-4-12"><img src='http://loremflickr.com/g/400/300/cholo' alt=''/></li>
          <li class="col-4-12"><img src='http://loremflickr.com/g/300/350/pachuco' alt=''/></li>

          <li class="col-4-12"><img src='http://loremflickr.com/g/400/300/cholo' alt=''/></li>
          <li class="col-4-12"><img src='http://loremflickr.com/g/300/350/pachuco' alt=''/></li>
          <li class="col-4-12"><img src='http://loremflickr.com/g/300/400/latina' alt=''/></li>

        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>