  {{> head }}
    
  {{> svg }} 


<!--Main Portfolio Series-->
{{> navBar/logoWithSideNav }}
<section class="slide whiteSlide portfolio">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <h2 class="h1 padding-bottom-4">Public Art &amp; Commissions</h2>
        <!-- Slide contents -->
        <ul class="grid masonry fixedSpaces">
          
          {{#each @root.commissions.portfolioImages}}

            <li class="col-4-12">
              <div class="zoom">
                <a href="image/#{{ this.src }}">
                  <img src="{{@global.baseurl}}assets/commissions/jpg/{{ this.src }}.jpg"  alt=''/>
                </a>
              </div>
            </li>

          {{/each}}
        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>



{{> footer }}
