{{> head }}
  
{{> svg }} 


<!--Main Portfolio Series-->
{{> navBar/logoWithSideNav }}
<section class="slide whiteSlide portfolio">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <h2 class="h1">Portfolio (Series)</h2>
        <!-- Slide contents -->
        <ul class="flex verticalCenter padding-top-4">

          <li class="col-4-12">
            <div class="img__wrap">
              <a href="barrio-series/">
                <img src={{ @root.mainPortfolio.series1.src }} alt='Barrio Series by Gaspar Enriquez'/>
                <div class="img__description_layer">
                  <h3 class="img__description">Barrio<br>Series</h3>
                </div>
              </a>
            </div>
          </li>

          <li class="col-4-12"><a href="charros-series/"><img src={{ @root.mainPortfolio.series2.src }}  alt='Charros Series by Gaspar Enriquez'/></a></li>

          <li class="col-4-12"><a href="sculpture-series/"><img src={{ @root.mainPortfolio.series3.src }}  alt='Sculpture Series by Gaspar Enriquez'/></a></li>

          <li class="col-4-12"><a href="artist-series/"><img src={{ @root.mainPortfolio.series4.src }}  alt='Artist Series by Gaspar Enriquez'/></a></li>

          <li class="col-4-12"><a href="tattoos-series/"><img src={{ @root.mainPortfolio.series5.src }}  alt='Tattoo Series by Gaspar Enriquez'/></a></li>
          
          <li class="col-4-12"><a href="commissions-series/"><img src={{ @root.mainPortfolio.series6.src }}  alt='Public Art Commissions by Gaspar Enriquez'/></a></li>

        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>



{{> footer }}
