<nav class="panel top fixed forceMobileView">
  <div class="sections desktop">
    <div class="left"><a href="{{@global.baseurl}}" title="Gaspar Enriquez"><svg style="width:175px;height:31px; font-weight: bold;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
    <div class="right">
      <ul class="menu uppercase crop">
        <li><a href="{{ @global.baseurl }}portfolio.html">PORTFOLIO</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">EXHIBITIONS</a></li>
        <li><a href="#">LA BODEGA GALLERY</a></li>
        <li><a href="#">VIDEO</a></li>
        <li><a href="#">PURCHASE / LICENSING</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left"><a href="#" title="Brand Name"><svg style="width:107px;height:31px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
</nav>
