<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left"><a href="{{@global.baseurl}}" title="gaspar enriquez"><svg style="width:175px;height:31px; font-weight: bold;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
    <div class="right"> 
      <ul class="menu uppercase crop">
        <li> <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></li>
      </ul>
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left"><a href="#" title="gaspar enriquez"><svg style="width:107px;height:31px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
</nav>

<!-- Sidebar -->
<nav class="sidebar deepPurple" data-sidebar-id="1">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <a href="index.html" title="gaspar enriquez" class="logo"><svg width="120" height="50"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a>
    <ul class="mainMenu uppercase">
        <li><a href="{{@global.baseurl}}portfolio/">PORTFOLIO</a></li>
        <li><a href="#">EXHIBITIONS</a></li>
        <li><a href="#">MI BODEGA GALLERY</a></li>
    </ul>
    <ul class="subMenu">
      <li><a href="#">About</a></li>
      <li><a href="#">Video?</a></li>
      <li><a href="#">Press &amp; Media?</a></li>
      <li><a href="#">Purchasing / Licensing</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="social">
      <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
      <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
      <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use></svg></a></li>
      <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a></li>
    </ul>
  </div>
</nav>
