  {{> head }}
    
  {{> svg }} 

  {{> navBar/logoWithSideNav }}
  <!--moved to inside each section-->

<section class="slide whiteSlide page-5">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <h2 class="series-title uppercase">Gaspar Enríquez</h2>

          <!-- image and paragraph here -->

          <div class="col-4-12 equalElement"></div>
          <div class="col-8-12 equalElement left">
              <h3><u>REVIEWS AND PUBLICATIONS</u></h3>
              <br>
              <br>
              <h4>UTEP MAGAZINE</h4>
              <p>Volume 7, Issue 3<br>
              2015</p>
              
              <h4>EL PASO INC.</h4>
              <p>Interview<br>
              June 8, 2014</p>

              <h4><a href="http://www.apple.com"><em>METAPHORS OF EL BARRIO | GASPAR ENRIQUEZ</em><a></h4>

              <p class="p3">El Paso Museum of Art, El Paso Texas</p>
              <p class="p2">&nbsp;</p>
              <p class="p4"><span class="s2"><a href="http://www.apple.com"><em>PAPEL CHICANO: WORKS ON PAPER FROM THE COLLECTION OF CHEECH MARIN</em></a></p>
              <p class="p3">Publisher: La Mano Press</p>
              <p class="p3">Mesa Contemporary Arts, Mesa, Arizona</p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><em>THE SHORTHORN</em></p>
              <p class="p3">The University of Texas at Arlington</p>
              <p class="p3">March 23, 2007</p>
              <p class="p5">&nbsp;</p>
              <p class="p6"><span class="s2"><a href="http://www.apple.com"><em>ARTE CALIENTE! SELECTIONS FROM THE JOE A. DIAZ COLLECTION</em></a></span></p>
              <p class="p7"><span class="s1">2004</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p4"><span class="s2"><a href="https://www.amazon.com/Colecciones-Mexican-Private-Chicago-Collections/dp/B0019HVP8Y/ref=sr_1_fkmr0_1?s=books&amp;ie=UTF8&amp;qid=1503775721&amp;sr=1-1-fkmr0&amp;keywords=COLECCIONES-MEXICAN+ART+FROM+50+PRIVATE+CHICAGO+COLLECTIOS">COLECCIONES MEXICAN ART FROM 50 PRIVATE CHICAGO COLLECTIONS</a></span></p>
              <p class="p3"><span class="s1">Catalogue</span></p>
              <p class="p3"><span class="s1">2004</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p4"><span class="s2"><a href="https://www.amazon.com/Chicano-Visions-American-Painters-Verge/dp/0821228064"><em>CHICANO VISIONS-AMERICAN PAINTERS ON THE VERGE</em></a></span></p>
              <p class="p3"><span class="s1">Bullfinch Press</span></p>
              <p class="p3"><span class="s1">2002</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p4"><span class="s2"><a href="https://www.amazon.com/Contemporary-Chicana-Chicano-Art-Education/dp/1931010110"><em>CONTEMPORARY CHICANA AND CHICANO ART; ARTIST, WORKS, CULTURE, AND EDUCATION</em></a></span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">Bilingual Press</span></p>
              <p class="p3"><span class="s1">2002</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p4"><span class="s2"><a href="http://www.cincopuntos.com/products_detail.sstg?id=3">ELEGY ON THE DEATH OF C&Eacute;SAR CHAVEZ</a></span></p>
              <p class="p3"><span class="s1">By Rodolfo Anaya, Illustrations by Gaspar Enriquez</span></p>
              <p class="p3"><span class="s1">2000</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1"><em>12 ARTISTS: 12 WINDOWS</em> </span></p>
              <p class="p3"><span class="s1">THE FORM, Fargo North Dakota</span></p>
              <p class="p3"><span class="s1">By Catherine Zalser</span></p>
              <p class="p3"><span class="s1">1992<span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1"><em>IGUAL PERO DIFERENTE</em></span></p>
              <p class="p3"><span class="s1"><em>The San Antonio Light</em></span></p>
              <p class="p3"><span class="s1">By Marica Goren Weser</span></p>
              <p class="p3"><span class="s1">Thursday, March 26, 1992</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p8"><span class="s1"><strong>LECTURES</strong></span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">THE GALLERY AT UTA</span></p>
              <p class="p3"><span class="s1">The University of Texas at Arlington</span></p>
              <p class="p3"><span class="s1">MARCH 22, 2007</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">GALLERY TALK RELATING TO CHICANO ART/RESISTANCE &amp; AFFIRMATION</span></p>
              <p class="p3"><span class="s1">National Museum of Art, Washington D.C.</span></p>
              <p class="p3"><span class="s1">1992</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p1"><span class="s1"><strong>APPOINTMENT'S</strong></span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">ARIZONA COMMISSION ON THE ARTS</span></p>
              <p class="p3"><span class="s1">Panelist</span></p>
              <p class="p3"><span class="s1">2008</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">MID-ATLANTIC ARTS FOUNDATION</span></p>
              <p class="p3"><span class="s1">Fellowship Advisory Panelist</span></p>
              <p class="p3"><span class="s1">1999</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">TEXAS COMMISSION ON THE ARTS</span></p>
              <p class="p3"><span class="s1">Visual Arts Advisory Panelist</span></p>
              <p class="p3"><span class="s1">1991-1992</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p1"><span class="s1"><strong>FELLOWSHIPS</strong></span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">MID-AMERICARTS ALLIANCE</span></p>
              <p class="p3"><span class="s1">1994</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p1"><span class="s1"><strong>COLLECTIONS</strong></span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">SMITHSONIAN NATIONAL PORTRAIT<span class="Apple-converted-space">&nbsp; </span>GALLERY</span></p>
              <p class="p3"><span class="s1">Washington, D.C. </span></p>
              <p class="p3"><span class="s1">Portrait of Rodolfo Anaya</span></p>
              <p class="p3"><span class="s1">Portrait of Luis Jimenez</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">CRYSTAL BRIDGES MUSEUM OF AMERICAN ART</span></p>
              <p class="p9"><span class="s1">Bentonville, Arkansas</span></p>
              <p class="p10">&nbsp;</p>
              <p class="p3"><span class="s1">de YOUNG MUSEUM</span></p>
              <p class="p3"><span class="s1">San Francisco, California</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">TUCSON MUSEUM OF ART</span></p>
              <p class="p3"><span class="s1">Tucson, Arizona</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">NEW MEXICO STATE UNIVERSITY</span></p>
              <p class="p3"><span class="s1">Las Cruces, New Mexico</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">EL PASO MUSEUM OF ART</span></p>
              <p class="p3"><span class="s1">El Paso, Texas</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">LYNDON BAINES JOHNSON LIBRARY</span></p>
              <p class="p3"><span class="s1">Austin, Texas</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">TEXAS STATE UNIVERSITY&rsquo;S HISPANIC WRITER&rsquo;S COLLECTION</span></p>
              <p class="p3"><span class="s1">San Marcos, Texas</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">CITY OF SAN ANTONIO CONVENTION CENTER</span></p>
              <p class="p3"><span class="s1">San Antonio, Texas</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">ALBURQUERQUE<span class="Apple-converted-space">&nbsp; </span>MUSEUM<span class="Apple-converted-space">&nbsp; </span>OF ART</span></p>
              <p class="p3"><span class="s1">Alburquerque, New Mexico</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p1"><span class="s1"><strong>AWARD</strong></span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">FATHER RAHM</span></p>
              <p class="p3"><span class="s1">SEGUNDO BARRIO PERSON OF THE YEAR AWARD </span></p>
              <p class="p3"><span class="s1">2016</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">DISTINGUISHED ALUMNI </span></p>
              <p class="p3"><span class="s1">UNIVERSITY OF TEXAS AT EL PASO</span></p>
              <p class="p3"><span class="s1">2015</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">MCDONALD&rsquo;S HISPANOS TRIUNFADORES-ARTS &amp; ENTERTAINMENT </span></p>
              <p class="p3"><span class="s1">2003</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">SIQUEIROS-POLLOCK AWARD</span></p>
              <p class="p3"><span class="s1">1996</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p2">&nbsp;</p>
              <p class="p1"><span class="s1"><strong>EDUCATION</strong></span></p>
              <p class="p3"><span class="s1">Master of Arts (Metals)</span></p>
              <p class="p3"><span class="s1">New Mexico State University</span></p>
              <p class="p3"><span class="s1">1985</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">Bachelor of Arts</span></p>
              <p class="p3"><span class="s1">University of Texas at El Paso</span></p>
              <p class="p3"><span class="s1">1970</span></p>
              <p class="p2">&nbsp;</p>
              <p class="p3"><span class="s1">East Los Angeles Junior College</span></p>
              <p class="p3"><span class="s1">1962-64</span></p>

          </div>

          <!-- <div class="col-12-12 equalElement">
            <p class="">{{@root.commissions.description}}</p>
            <div class='col-8-12 right rellax' data-rellax-speed='2.2'>
              <img src="{{@global.baseurl}}assets/svg/Symbol.svg" alt="" width="400" class="symbol">
            </div>
          </div> -->
        </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>

  {{> footer }}