  {{> head }}
    
  {{> svg }} 

  {{> navBar/logoWithSideNav }}
  <!--moved to inside each section-->

<section class="slide whiteSlide page-5">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <h1 class="uppercase pad_50-bottom">Exhbition History</h1>
          <!-- This is just a space to keep the content in the center, re -->
          <!-- <div class="col-4-12 equalElement"></div> -->
          <div class="col-8-12 equalElement left">
          
          <h4>THE OUTWIN 2016: AMERICAN PORTRAITURE TODAY</h4>
          <p>
          SMITHSONIAN, PORTRAIT GALLERY
          <br>
          ART MUSEUM OF SOUTH TEXAS
          <br>
          JUNE 2017
          </p>
          
          <h4>IGNITE </h4>
          <p>
          STANLEE &amp; GERALD RUBIN CENTER FOR THE VISUAL ARTS, UTEP
          <br>
          El PASO, TEXAS
          <br>
          JUNE 9 - SEBTEMBER 27, 2014
          </p>
          
          <h4>METOPHORS OF EL BARRIO: RETROSPECTIVE</h4>
          <p>
          EL PASO MUSEUM OF ART
          <br>
          JANUARY 26 - MAY 11, 2014
          </p>
          
          <h4>TEJANO</h4>
          <p>
          LONGVIEW MUSEUM OF FINE ART
          <br>
          LONGVIEW, TEXAS
          <br>
          SEPTEMBER - OCTOBER 2013
          </p>
          
          <h4>INTERLOPERS "WORKS ON PAPER"</h4>
          <p>
          EVOKE CONTEMPORARY
          <br>
          SANTA FE, NM
          <br>
          MARCH 2 - APRIL 30, 2012    
          </p>
          
          <h4>INFINITE MIRROR: IMAGES OF AMERICAN IDENTITY</h4>
          <p>
          ITERNATIONAL ARTS &amp; ARTISTS TOUR
          <br>
          2011 - 2013
          </p>
          
          <h4>NEW WORKS</h4>
          <p>
          GALERIA ORTIZ CONTEMPORY
          <br>
          SAN ANTONIO, TEXAS
          <br>
          NOVEMBER - DECEMBER 2008
          </p>
          
          <h4>PAPEL CHICANO</h4>
          <p>
          MESA CONTEMPORARY ARTS MUSEUM (MESA ARTS CENTER)
          <br>
          MESA, ARIZONA
          <BR>
          SEPTEMBER 14 - JANUARY 6, 2008    
          </p>
          
          <h4>LOOKING WEST </h4>
          <p>
          THE ART MUSEUM OF SOUTH TEXAS
          <br>
          JUNE 9 - SEPTEMBER 9, 2007
          </p>
          
          <h4>SISTER CITIES</h4>
          <p>
          EL PASO MUSEUM OF ART
          <br>
          MAY 20 - AUGUST 26, 2007
          </p>
          
          <h4>UNA PAGINA MAS</h4>
          <p>
          THE GALLERY at THE UNIVERSITY OF TEXAS AT ARLINGTON
          <br>
          ARLINGTON, TEXAS
          <br>
          MARCH 19 - APRIL 21, 2007
          <br>
          <br>
          TUCSON MUSEUM of ART
          <br>
          TUCSON, ARIZONA
          <br>
          MARCH 25 - MAY 14, 2006
          <br>
          <br>
          PATRICIA CORREIA GALLERY
          <br>
          SANTA MONICA, CALIFORNIA
          <br>
          NOVEMBER 19, - JANUARY 7, 2006
          </p>
          

          <h4>MIS HOMIES</h4>
          <p>
          THE ICE HOUSE CULTURAL CENTER
          <br>
          DALLAS, TEXAS
          <br>
          SEPTEMBER 10 - 30, 2006
          </p>
          
          <h4>ARTE CALIENTE (JOE DIAZ COLLECTION)</h4>
          <p>
          SAN JOSE MUSEUM OF ART
          <br>
          2006
          </p>
          
          <h4>COLECCIONES: MEXICAN ART FROM 50 PRIVATE CHICAGO COLLECTIONS</h4>
          <p>
          NATIONAL MUSEUM OF MEXICAN ART
          <br>
          CHICAGO, ILLINOIS
          <br>
          2004
          </p>
          
          <h4>DE PURO CORAZON-</h4>
          <p>
          ADAIR MARGO GALLERY
          <br>
          EL PASO, TEXAS
          <br>
          NOVEMBER - DECEMBER, 2004
          </p>
          
          <h4>DE PURO CORAZON</h4>
          <p>
          ART WINDOWS-EL PASO INTERNATIONAL AIRPORT-CITY OF EL PASO ARTS &amp;
              CULTURE DEPARTMENT
          <br>
          APRIL 2004
          </p>
          
          <h4>ARTE CALIENTE (JOE DIAZ COLLECTION) </h4>
          <p>
          ART MUSEUM OF SOUTH TEXAS
          <br>
          MAY, 2004
          </p>
          
          <h4>CHICANO STATE OF MIND</h4>
          <p>
          PARCHMAN STREMMEL GALLERIES
          <br>
          SAN ANTONIO, TEXAS
          <br>
          DECEMBER 2001    
          </p>
          
          <h4>CHICANO VISIONS (CHEECH MARIN
              COLLECTION)</h4>
          <p>
          SAN ANTONIO MUSEUM OF ART
          <br>
          DECEMBER 2001, TOURING UNTIL 2007 
          </p>
          
          <h4>HECHO EN TEJAS</h4>
          <p>
          AMARILLO MUSEUM OF ART
          <br>
          JULY - AUGUST, 2000
          </p>
          
          <h4>UNA PAGINA MAS</h4>
          <p>
          THE ADAIR MARGO GALLERY
          <br>
          EL PASO, TEXAS
          <br>
          JANUARY - FEBRUARY 1999
          </p>
          
          <h4>TRES PROYECTOS LATINOS</h4>
          <p>
          LAGUNA GLORIA
          <br>
          AUSTIN, TEXAS
          <br>
          1997
          </p>
          
          <h4>TEXAS DIALOGUES</h4>
          <p>
          BLUE STAR ART SPACE
          <br>
          SAN ANTONIO, TEXAS
          <br>
          1997
          </p>

          <h4>BORDER CHECK / BORDER REALITY (JUNTOS) </h2>
          <p>
          SOUTH BROADWAY CULTRAL CENTER
          <br>
          ALBUQUERQUE, NEW MEXICO
          <br>
          <br>
          PISANOS GALLERY
          <br>
          CHAMIZAL NATIONAL MEMORAL EL PASO, TEXAS
          <br>
          1997
          </p>
          
          
          <h4>FIGURATIVE FOUNDATIONS</h4>
          <p>
          MARTIN-RATHBURN GALLERY
          <br>
          SAN ANTONIO, TEXAS,
          <br>
          1996
          </p>
          
          <h4>CELEBRATES TEXAS ART</h4>
          <p>
          ASSISTANCE LEAGUE OF HOUSTON
          <br>
          MARCH - MAY, 1995 - 1996    
          </p>
          
          <h4>SCULPTURE PROJECT</h4>
          <p>
          THE COLLEGE OF SANTA FE
          <br>
          OCTOBER - NOVEMBER 1995
          </p>
          
          <h4>LA ROSA DOLOROSA EXHIBIT</h4>
          <p>
          EL PASO MUSEUM OF ART
          <br>
          AUGUST - OCTOBER 1995
          </p>
          
          <h4>EXPANSIVE VISIONS</h4>
          <p>
          DINNERWARE
          <br>
          TUCSON, ARIZONA
          <br>
          1994
          </p>
          
          <h4>HISPANIC PERSPECTIVE</h4>
          <p>
          PATRICIA STEWART GALLERY
          <br>
          NAPA, CALIFORNIA
          <br>
          1993
          </p>
          
          <h4>CHICANO ART / RESISTANCE AND AFFIRMATION, 1965-1985</h4>
          <p>
          WIGHT ART GALLERY, UNIVERSITY OF CALIFORNIA, LOS ANGELES<br>THE
          DENVER ART MUSEUM<br>THE ALBUQUERQUE ART MUSEUM<br>SAN FRANCISCO MUSEUM OF
          MODERN ART<br>FRESNO ART MUSEUM<br>TUCSON MUSEUM OF ART<br>NATIONAL MUSEUM OF
          AMERICAN ART, WASHINGTON D.C.<br>EL PASO MUSEUM OF ART<br>THE BRONX MUSEUM<br>SAN
          ANTONIO MUSEUM OF ART
          <br>
          1991 - 1993
          </p>
          
          <h4>48TH ANNUAL COMPETITION</h4>
          <p>
          MUSEUM OF ABILENE
          <br>
          1992
          </p>
          
          <h4>VENTANAS</h4>
          <p>
          PLAINS ART MUSEUM
          <br>
          MOORHEAD, MINNESOTA
          <br>
          UNIVERSITY ART MUSEUM
          <br>NORTHRUP MEMORIAL AUDITORIUM
          <br>UNIVERSITY OF
          MINNESOTA
          <br>MINNEAPOLIS
          <br>MINNESOTA
          <br>1992
          </p>
          
          <h4>IGUAL PERO DIFERENTE</h4>
          <p>
          MEXICAN CULTURAL INSTITUTE
          <br>
          JENSEN-PEREZ GALLERY
          <br>
          SAN ANTONIO, TEXAS
          <br>
          1991
          </p>
          
          <h4>CAPIROTADA: EIGHT EL PASO ARTIST</h4>
          <p>
          EL PASO MUSEUM OF ART
          <br>
          1991
          </p>
          
          <h4>SOUTHWESTERN INTERNATIONAL ROUNDUP</h4>
          <p>
          EL PASO, TEXAS
          <br>
          1987, 1988, 1989, 1990, 1991
          <br>
          <br>
          BRIDGE CENTER FOR CONTEMPORARY ART, 1988
          </p>
          
          <h4>AUSTIN CONTEMPORARY ART EXHIBITION</h4>
          <p>
          LAGUNA GLORIA, JUROR'S AWARD
          <br>
          <em>(WALTER HOPPS, JUROR)</em>, 1987
          </p>
            
          </div>
          
          <div class="col-4-12 equalElement hideForTablet">
            <svg class="symbol symbol-L position_move-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-2"></use></svg>

            <svg class="symbol symbol-XL position_move-left2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-3"></use></svg>

            <svg class="symbol symbol-xs position_move-left3"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-5"></use></svg>

            <svg class="symbol symbol-M position_move-left4"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-6"></use></svg>
          </div>
        </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>

  {{> footer }}
