  {{> head }}
    
  {{> svg }} 

<style>
  .slide.video.youtube .background {
    opacity: 0;
    -webkit-transition:1s opacity;
    transition:1s opacity;
  }

  .slide.video.youtube .background.playing,
  .mobile .slide.video.youtube .background {
    opacity: 1;
  }
</style>


  {{> navBar/logoWithSideNav }}
  <!--moved to inside each section-->


  {{> hero }}


  {{> barrios }}

<!--Charros-->
  {{> charros }}

<!--Sculpture-->
  {{> sculpture }}


<!--Artist Series-->
  {{> artist }}

<!--Tatoos-->
  {{> tattoos }}

<!--Commissions-->
  {{> commissions }}

  {{> footer }}
