<section class="slide whiteSlide page-5">
  <div class="content">
    <div class="container">
      <div class="wrap left">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 equalElement left">
            <h2 class="georgeTestSize">Artists Series</h2>
            <p><a href="#">Link to series</a></p>
            <p class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eum odio omnis esse repellat a, laboriosam velit officia quam, amet accusantium sapiente, ex pariatur debitis. Soluta aspernatur neque, necessitatibus minus.</p>
            <div class='col-8-12 right rellax' data-rellax-speed='2.2'>
              <img src="/assets/img/Symbol.svg" alt="" width="400" class="symbol">
            </div>
            
              
          </div>
          
          <div class="col-6-12 equalElement right">
            <img src="/assets/img/JohnValadez.jpg" width="660" alt="" class="">
            <h2 class="">John Valadez</h2>
            <p class="">
            <sub>year<br>
            Airbrushed acrylic on board<br>
            size<br>
            Collection of the Artist????</sub>
            </p>
          </div>
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
