
<section class="slide whiteSlide page-3">
  {{> navBar/fullNav }}
  <div class="content">
    <div class="container">
      <div class="wrap left">
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 equalElement">
            <!--class .uppercase is not beging makeing text larger, .georgeTestSize located under .uppercase in framework.scss-->
            <h2 class="georgeTestSize">Charros / Folklorico</h2>
            <p><a href="#">Link to series</a></p>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eum odio omnis esse repellat a, laboriosam velit officia quam, amet accusantium sapiente, ex pariatur debitis. Soluta aspernatur neque, necessitatibus minus.</p>
          </div>
          <div class="col-6-12 equalElement right">
            <img src="/assets/img/Proscrita.jpg" width="100%" alt="">
            <h2 class="">Proscrita</h2>
            <p class="">
            <sub>1989<br>
            Airbrushed acrylic on board<br>
            27 3/4 x 59 7/8 in<br>
            Collection of the Hunt Companies</sub>
            </p>
          </div>
          
        </div>
      </div><!--end wrap-->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
