  <section class="slide whiteSlide portfolio">
  {{> navBar/logoWithSideNav }}
    <div class="content">
      <div class="container">
        <div class="wrap">
        
          <!-- Slide contents -->
          <ul class="grid masonry fixedSpaces">
            <li class="col-6-12">WIDE BOX</li>
            <li class="col-3-12">SMALL BOX</li>
            <li class="col-3-12">SMALL BOX</li>
            <li class="col-3-12">SMALL BOX</li>
            <li class="col-3-12">SMALL BOX</li>
            <li class="col-3-12">SMALL BOX</li>
          </ul>

        </div>{{!--end wrap--}}
      </div>{{!--end container--}}
    </div>{{!--end content--}}
    <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
  </section>
