  <section class="slide whiteSlide page-7">
  {{> navBar/logoWithSideNav }}
    <div class="content">
      <div class="container">
        <div class="wrap left">
        
          <!-- Slide contents -->
          <div class="grid equal">
            <div class='col-10-12'>
              <h2 class="georgeTestSize">Commissions</h2>
            </div>
            <div class="col-6-12 equalElement left">
              
              <p><a href="#">Link to series</a></p>
              <p class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eum odio omnis esse repellat a, laboriosam velit officia quam, amet accusantium sapiente, ex pariatur debitis. Soluta aspernatur neque, necessitatibus minus.</p>
              <div class="col-6-12 left">
                  <img src="/assets/img/Symbol.svg" alt="" width="400" class="symbol rellax" data-rellax-speed='.4'>
              </div>
            </div>
          
            <div class="col-6-12 equalElement right">
              <img src="/assets/img/ElegyOnTheDeathOfCesar-Chavez.jpg" width="100%" alt="" class="">
              <h1 class="">Elegy on the Death <br>of César Chávez</h1>
              <p class="">
              <sub>2000<br>
              Airbrushed acrylic on paper<br>
              36 x 48 in.<br>
              Collection of El Paso Museum of Art</sub>
              </p>
            </div>
        </div>

        </div><!-- /.wrap -->
      </div>
    </div>
    <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
  </section>
