<section class="slide whiteSlide page-4">
  <div class="content">
    <div class="container">
      <div class="wrap left">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 left equalElement">
              <img src="/assets/img/LaRosaDolorosaDeMiVidaLoca.jpg" height="800" alt="">
              <h1 class="">La Rosa Dolorosa de me Vida Loca</h1>
              <p class="">
              <sub>1995<br>
              Mixed-media installation<br>
              8 x 8 x 8 ft<br>
              Collection of the Artist</sub>
              </p>
          </div>

          <div class="col-6-12 equalElement">
            <h2 class="georgeTestSize">Sculpture</h2>
            <p><a href="#">Link to series</a></p>
            <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eum odio omnis esse repellat a, laboriosam velit officia quam, amet accusantium sapiente, ex pariatur debitis. Soluta aspernatur neque, necessitatibus minus.</p>
          </div>
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
