  {{> head }}
    
  {{> svg }} 


<!--Main Portfolio Series-->
{{> navBar/logoWithSideNav }}
<section class="slide whiteSlide portfolio">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <h2 class="h1 padding-bottom-4">Tattoo Series</h2>
      
        <!-- Slide contents -->
        <ul class="grid masonry fixedSpaces">
          
          {{#each @root.tattoos.portfolioImages}}

            <li class="col-4-12">
              <figure class="image-effect__scale-up">
                <img src="{{@global.baseurl}}assets/tattoo/jpg/{{ this.src }}.jpg"  alt=''/>
                <a href="image/#{{ this.src }}"></a>
              </figure>
            </li>

          {{/each}}
        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>



{{> footer }}
