.hero .wrap {
  // text-shadow: 0 3px 2px rgba(150,150,150,.8);
}

.paddingTop{
  padding-top: 150px;
}

.fade-8 .content {
  background: $overlay;
}

.whiteSlide[class*=fade] .content {
  background: none;
}

.slide.whiteSlide {
  color: hsla(4,40%,15%,.8);
}
.slide.whiteSlide svg {
  fill: hsla(4,40%,15%,.8);
}

.nextSlide {
  background: rgba(255,255,255,.8);
  border-radius: 50px;
  height: 50px;
  margin: 0 auto;
  width: 50px;

  svg {
    height: 55px;
    width: 30px;
  }
}

.tab{
  margin-left: 40px
}
// Decorators
.symbol {
  opacity: .06;

  &.symbol-XS {
    width: 100px;
    height: 100px;
  }

  &.symbol-S {
    width: 200px;
    height: 200px;
  }

  &.symbol-M {
      width: 300px;
      height: 300px;
    }

  &.symbol-L {
      width: 400px;
      height: 400px;
    }

  &.symbol-XL {
      width: 500px;
      height: 500px;
    }
}

// wrap

div.wrap.left.featureWrapBottom{
  padding-bottom:0px;
  //padding-top: 60px;

  // .wrapTop{
  //   padding-top: 60px;
  // }
}

h2.series-title {
  color: hsla(4,40%,15%,.2);
  font-size: 8rem;
}

a p.portfolioLink {
  position: relative;
  display: inline-block;
  color: hsla(4,40%,15%,.7);
  font-size: 3rem;
  padding-bottom: 10px;
  text-decoration: none;
  margin-bottom: 0px;

    &:hover{
        color: hsla(28, 38%, 37%, 1)
      }

    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: hsla(28, 38%, 37%, 1);
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

    &:hover:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

}

<<<<<<< HEAD


.mainLinks{
  text-transform: uppercase;
  padding: 0 20px;
  
}
=======
span.mainLinkPadding{
  padding: 0 20px;
}

a.mainLinks{
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-bottom: 5px;
  position: relative;
  display: inline-block;

  &:hover{
    color: hsla(28, 38%, 37%, 1)
  }

  &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: hsla(28, 38%, 37%, 1);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

  &:hover:before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }

}

.nextSlide{
    background: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
>>>>>>> exhibitions list added
