.hero .wrap {
  text-shadow: 0 3px 2px rgba(150,150,150,.8);
}

.fade-8 .content {
  background: $overlay;
}

.whiteSlide[class*=fade] .content {
  background: none;
}

.slide.whiteSlide {
  color: hsla(4,40%,15%,.8);
}
.slide.whiteSlide svg {
  fill: hsla(4,40%,15%,.8);
}

.nextSlide {
  background: rgba(255,255,255,.8);
  border-radius: 50px;
  height: 50px;
  margin: 0 auto;
  width: 50px;

  svg {
    height: 55px;
    width: 30px;
  }
}

// Decorators
.symbol {
  opacity: .06;

  &.symbol-XS {
    width: 100px;
    height: 100px;
  }

  &.symbol-S {
    width: 200px;
    height: 200px;
  }

  &.symbol-M {
      width: 300px;
      height: 300px;
    }

  &.symbol-L {
      width: 400px;
      height: 400px;
    }

  &.symbol-XL {
      width: 500px;
      height: 500px;
    }
}


.wrap.left.featureWrap{
  padding-bottom: 0px;
}

h2.series-title {
  color: hsla(4,40%,15%,.2);
  font-size: 8rem;
}
