.hero__ {
  &quote {
    left: 50%;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
  }
  &button {
    background-color: rgba(255,255,255,0.6);
    padding: .5rem;
    font-size: 1.3rem;
    transition: color .15s ease-in, background-color .3s ease-in;
    &:hover {
      background-color: rgba(125, 12, 74, 0.80);
      color: #fff;
    }
  }
}

.paddingTop{
  padding-top: 150px;
}

.fade-8 .content {
  background: $overlay;
}

.whiteSlide[class*=fade] .content {
  background: none;
}

.slide.whiteSlide {
  color: hsla(4,40%,15%,.8);
}
.slide.whiteSlide svg {
  fill: hsla(4,40%,15%,.8);
}



.tab{
  margin-left: 40px
}
// Decorators
.symbol {
  opacity: .06;

  &.symbol-XS {
    width: 100px;
    height: 100px;
  }

  &.symbol-S {
    width: 200px;
    height: 200px;
  }

  &.symbol-M {
      width: 300px;
      height: 300px;
    }

  &.symbol-L {
      width: 400px;
      height: 400px;
    }

  &.symbol-XL {
      width: 500px;
      height: 500px;
    }
}

// wrap

div.wrap.left.featureWrapBottom{
  padding-bottom:0px;
  //padding-top: 60px;

  // .wrapTop{
  //   padding-top: 60px;
  // }
}

h2.series-title {
  color: hsla(4,40%,15%,.8);
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: .25em !important;
}

@mixin portfolioLink($color) {
  position: relative;
  display: inline-block;
  color: $color;
  font-size: 3rem;
  padding-bottom: 10px;
  text-decoration: none;
  margin-bottom: 0px;
  &:before {
    background: #2591bc; /* Old browsers */
    background: -moz-linear-gradient(left, #2591bc 8%, #010d13 11%, #B1101D 13%, #ffe046 16%, #b1111e 59%, #b1111e 59%, #f61893 69%, #189349 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2591bc 8%,#010d13 11%,#b1111e 13%,#ffe046 16%,#b1111e 59%,#b1111e 59%,#f61893 69%,#189349 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2591bc 8%,#010d13 11%,#b1111e 13%,#ffe046 16%,#b1111e 59%,#b1111e 59%,#f61893 69%,#189349 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */  
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 3rem;
  }
}
.barrio-link,
.commissions-link {
  @include portfolioLink(#189349);
}
.artist-link {
  @include portfolioLink(#ffe046);
}
.charros-link {
  @include portfolioLink(hsl(355, 83%, 38%));
}
.sculpture-link {
  @include portfolioLink(#2591bc);
}
.tattoos-link {
  @include portfolioLink(hsl(25, 100%, 64%));
}
.barrio-link {
  @include portfolioLink(#189349);
}
.artist-link {
  @include portfolioLink(#ffe046);
}
.charros-link {
  @include portfolioLink(#b1111e);
}

span.mainLinkPadding{
  padding: 0 20px;
}

a.mainLinks{
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-bottom: 5px;
  position: relative;
  display: inline-block;

  &:hover{
    color: hsla(28, 38%, 37%, 1)
  }

  &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: hsla(28, 38%, 37%, 1);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

  &:hover:before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }

  
}

.nextSlide{
    background: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
