.main-nav .sections .menu li a {
    font-size: 1rem;
    padding: 0;
}

.leftArrow,
.rightArrow {
  font-size: 2.5em;
  opacity: 0.5;
  transition-timing-function: ease-out;
  transition: 0.3s;
}

.leftArrow:hover,
.rightArrow:hover {
  color: black;
  font-size: 3em;
  transition-timing-function: ease-in;
  transition: 0.2s;
}

li span.popUp {
  transition-timing-function: ease-out;
  transition: 0.3s;
}

li span.popUp:hover {
  color: red;
  font-size: 1.1em;
  transition-timing-function: ease-in;
  transition: 0.2s;
  // this isn't working
  transition-timing-function: ease-out;
  transition: 0.3s;
}

a.link {
  transition-timing-function: ease-out;
  transition: 0.3s;
}
a.link:hover {
  color: blue;
  font-size: 1.1em;
  transition-timing-function: ease-in;
  transition: 0.2s;
  // this isn't working
  transition-timing-function: ease-out;
  transition: 0.3s;
}

.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(139, 69, 19, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.zoom {
  overflow: hidden;
}
.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

// Gaspar Logo in nav bar
.panel.top.fixed {
  opacity: 1;
  transition: all .5s ease-in-out;
}
.panel.top.fixed.noShow{
  opacity: 0;
  top: -150px;
}

.line_decoration {
  // background-color: #835C3B;
  background: #2591bc; /* Old browsers */
  background: -moz-linear-gradient(left, #2591bc 8%, #010d13 11%, #b1111e 13%, #ffe046 16%, #b1111e 59%, #b1111e 59%, #f61893 69%, #189349 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2591bc 8%,#010d13 11%,#b1111e 13%,#ffe046 16%,#b1111e 59%,#b1111e 59%,#f61893 69%,#189349 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2591bc 8%,#010d13 11%,#b1111e 13%,#ffe046 16%,#b1111e 59%,#b1111e 59%,#f61893 69%,#189349 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2591bc', endColorstr='#189349',GradientType=1 ); /* IE6-9 */
}

@mixin sarape() {
  background: #2591bc; /* Old browsers */
  background: -moz-linear-gradient(left, #2591bc 8%, #010d13 11%, #b1111e 13%, #ffe046 16%, #b1111e 59%, #b1111e 59%, #f61893 69%, #189349 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2591bc 8%,#010d13 11%,#b1111e 13%,#ffe046 16%,#b1111e 59%,#b1111e 59%,#f61893 69%,#189349 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2591bc 8%,#010d13 11%,#b1111e 13%,#ffe046 16%,#b1111e 59%,#b1111e 59%,#f61893 69%,#189349 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2591bc', endColorstr='#189349',GradientType=1 ); /* IE6-9 */
}

.line_decoration {
  @include sarape();
  height: 3px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;

}
.down-arrow.button.actionButton {
  background: rgba(255,255,255,0.86);
}
.slide.whiteSlide .footer svg {
  fill: rgba(226, 0, 78, .85);
}
