.main-nav .sections .menu li a {
    font-size: 1rem;
    padding: 0;
}

.leftArrow,
.rightArrow {
  font-size: 2.5em;
  opacity: 0.5;
  transition-timing-function: ease-out;
  transition: 0.3s;
}

.leftArrow:hover,
.rightArrow:hover {
  color: black;
  font-size: 3em;
  transition-timing-function: ease-in;
  transition: 0.2s;
}

li span.popUp {
  transition-timing-function: ease-out;
  transition: 0.3s;
}

li span.popUp:hover {
  color: red;
  font-size: 1.1em;
  transition-timing-function: ease-in;
  transition: 0.2s;
  // this isn't working
  transition-timing-function: ease-out;
  transition: 0.3s;
}

a.link {
  transition-timing-function: ease-out;
  transition: 0.3s;
}
a.link:hover {
  color: blue;
  font-size: 1.1em;
  transition-timing-function: ease-in;
  transition: 0.2s;
  // this isn't working
  transition-timing-function: ease-out;
  transition: 0.3s;
}
