.position_move-left{
  position: relative;
  top: 2%;
  left: -100%;
  z-index: 10;
}

.position_move-left2{
  position: relative;
  top: 10%;
  left: 1%;
  z-index: 10;
}

.position_move-left3{
  position: relative;
  top: 18%;
  left: -150%;
  z-index: 10;
}

.position_move-left4{
  position: relative;
  top: 28%;
  left: -125%;
  z-index: 10;
}

.position_move-left5{
  position: relative;
  top: -7%;
  left: -100%;
  z-index: 10;
}

.position_move-left6{
  position: relative;
  top: 2%;
  left: -305%;
  z-index: 10;
}

.position_move-left7{
  position: relative;
  top: 18%;
  left: -500%;
  z-index: 10;
}

.position_move-left8{
  position: relative;
  top: 33%;
  left: -150%;
  z-index: 10;
}