nav,
.h1, h1, 
.h2, h2, 
.h3, h3, 
.h4, h4, 
.h5, h5, 
.h6, h6 {
  font-family: $header-font;
}

.home-link {
  font-size: 3rem;
  line-height: 1;
}

.pad_50-bottom{
  padding-bottom: 50px;
}

.pad_50-top{
  padding-top: 50px;
}

.textLargeJustify{
  font-size: 1.5rem;
  text-align: justify;
}