// 1rem = 16px
$paragraph-font-size: 1.2rem;
$header-font-size-h1: 3.2rem;
$header-font-size-h2: 2.6rem;
$header-font-size-h3: 1.8rem;
$header-font-size-h4: 1.4rem;
$header-font-size-h5: 1.2rem;
$header-font-size-h6: 1rem;


$header-font: ('Overlock', sans-serif);
$header-baseline: 0.1445;

$body-font: ('Abel', serif);


// Colors
$overlay: hsla(35, 77%, 41%, .5);

